{% extends "string_rota/home.html" %}

{% load i18n %}

{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main id="main" class="main">
    <div class="row"></div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body">
                <div class=" pt-4 pb-2">
                    <h1>{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a
                        few
                        minutes.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}