core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
db.sqlite3
creds.json
uv.lock
# Ignore archived unused static assets
static/assets/archive_unused/
unreferenced_assets_css_js.txt
moved_unreferenced.txt