{% extends 'string_rota/base.html'  %}

{% load crispy_forms_tags %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Project: {{project.name}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">{{project.name}}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
          <!-- Repertoire -->
          <div class="col-12">
            <div class="card info-card sales-card">

              <div class="card-body">
                <h4 class="card-title">Repertoire<span></h4>

                <div class="d-flex align-items-center">
                  <div class="ps-3">
                    <ul>
                      {% for rep in repertoire %}
                      <li>
                        {{rep}}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Repertoire -->
        </div>
        <!-- Project Seating Plan -->
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{seating_plan.section}}</h5>
              <!-- Active Table -->
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                  </tr>
                </thead>
                <tbody>
                  {% for position in seating_positions %}
                  <tr>
                    <td>{{position.player}}</td>
                    <td>{{position.position_number}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Section Player List -->
            </div>
          </div>
        </div><!-- End Project Seating Plan -->

        {% if user.is_authenticated %}
        {% if rota_manager %}

        <!-- Rota Form Section-->

        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit {{seating_plan.section}} Rota for Project: {{project}}</h5>

              <!-- Rota Form -->
              <form method="POST" class="row g-3">
                <span class="col-md-4">{{seating_plan_form | crispy }}</span>
                <span class="col-md-4">{{seating_position_form | crispy }}</span>
                <span class="col-md-4">{{player_project_form | crispy }}</span>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add New Player</button>
              </form>
              <!-- End Rota Form -->

            </div>
          </div>
        </div>
        {% endif  %}
        {% endif %}
        <!-- End Rota Form Section-->

      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">
        <!-- Reserve Player -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h4 class="card-title">Reserve Player<span></h4>

              <div class="d-flex align-items-center">
                <div class="ps-3">
                  <h6>{{reserve_player}}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Reserve Player -->
        <!-- Reduced Rep Player -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">

            <div class="card-body">
              <h4 class="card-title">Reduced Rep Player<span></h4>

              <div class="d-flex align-items-center">
                <div class="ps-3">
                  <h6>{{player_off_reduced_rep}}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Reduced Rep Player -->
        <!-- Not Available -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h4 class="card-title">Players Not Available<span></h4>
              <div class="d-flex align-items-center">
                <div class="ps-3">
                  <ul>
                    {% for player in not_available %}
                    <li>
                      {{player.player}}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Not Available -->
      </div>
    </div>

    </div><!-- End Right side columns -->

    </div>
  </section>

</main><!-- End #main -->


{% endblock %}