{% extends 'base.html'  %}

{% load crispy_forms_tags %}

{% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>RSNO String Rota {% if section %} for the <strong>{{ section }} section.</strong>{% endif %}</h1>
    <h2>Welcome {{user.first_name}}!</h2>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-12">
        <div class="row">
          <!-- Project Info -->
          <div class="col-lg-7">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Select a Project {% if office %}and a Section{% endif %} to see your required
                  Rota</h2>

                <div class="ps-3">
                  <p>Choose a project from the list of projects in the side menu {% if office %}, then choose a section
                    from the drop-down menu {% endif %}to view a rota for that project{% if office %} and
                    section{% endif %}.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row"> -->
        <div class="col-lg-7">
          <!-- Messages -->
          {% if messages %}
          {% for message in messages %}
          {% with message.level as level %}
          {% if level == 40 %}
          <div class="alert alert-dismissible alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
              </div>
            {% elif level == 30 %}
            <div class="alert alert-dismissible alert-warning" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message | safe }}
              </div>
              {% elif level == 25 %}
              <div class="alert alert-dismissible alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message | safe }}
                </div>
                {% else %}
                <div class="alert alert-dismissible alert-info" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message | safe }}
                  </div>
                  {% endif %}
                  {% endwith %}
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
              <!-- Player Info -->
              {% if rota_manager or office %}
              <div class="col-lg-7">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">
                      Register a Player
                    </h2>
                    <p class="ps-3">To enable an existing member {% if not office %}the {{section}} section{% endif %}
                      to
                      access this app, please choose
                      "Register a Player" from the side menu.</p>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
  </section>
</main>
{% endblock %}