{% extends 'base.html'  %}

{% load crispy_forms_tags %}

{% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>RSNO String Rota {% if section %} for the <strong>{{ section }} section. {% endif %}</strong></h1>
    <h2>Welcome {{user.first_name}}!</h2>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-12">
        {% if office %}
        <div class="col-lg-7">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">
                Site Under Construction!
              </h2>
              <p class="ps-3">We are very sorry, but the site is currently under construction for the Orchestra Managers
                and those with super-user status.
                To visit the Admin part of the site, please click on the Admin menu item in the side bar.
                There is full functionality for Rota Managers and Players. We will inform you when this part of the site
                is ready for use. In the mean time, thank you for your patience.
              </p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="row">
          <!-- Project Info -->
          <div class="col-lg-7">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Select a Project</h2>

                <div class="ps-3">
                  <p>Choose a project from the list of projects in the side menu to view a rota for that project.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- Messages -->
        <div class="row">
          <div class="col-12">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              {% with message.level as level %}
              <li>
                {% if level == 40 %}
                <span class="text-danger"><strong>{{ message }}</strong></span>
                {% elif level == 30 %}
                <span class="text-warning"><strong>{{ message }}</strong></span>
                {% elif level == 25 %}
                <span class="text-success"><strong>{{ message }}</strong></span>
                {% else %}
                <span class="text-info"><strong>{{ message }}</strong></span>
                {% endif %}
              </li>
              {% endwith %}
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <!-- Player Info -->
        {% if rota_manager %}
        <div class="col-lg-7">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">
                Register a Player
              </h2>
              <p class="ps-3">To enable an existing member the {{section}} section to access this app, please choose
                "Register a Player" from the side menu.</p>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock %}